body {
  text-align: center;
  color: white;
  background-color: black;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

.roboto_thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.roboto_thin_italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto_light {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto_light_italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto_italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto_medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto_medium_italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto_bold_italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto_black {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.roboto_black_italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.roboto_condensed_thin {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto_condensed_thin_italic {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto_condensed_light {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto_condensed_light_italic {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.roboto_condensed_regular {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto_condensed_italic {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto_condensed_medium {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto_condensed_medium_italic {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto_condensed_bold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto_condensed_bold_italic {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto_mono_thin {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto_mono_thin_italic {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto_mono_light {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto_mono_light_italic {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.roboto_mono_regular {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto_mono_italic {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto_mono_medium {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto_mono_medium_italic {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto_mono_bold {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto_mono_bold_italic {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto_slab_thin {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto_slab_light {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto_slab_regular {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto_slab_bold {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-style: normal;
}
