/* Roboto */

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-thin-webfont.woff2') format('woff2'),
        url('roboto-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-thinitalic-webfont.woff2') format('woff2'),
        url('roboto-thinitalic-webfont.woff') format('woff');
        font-weight: 100;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-light-webfont.woff2') format('woff2'),
        url('roboto-light-webfont.woff') format('woff');
        font-weight: 200;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-lightitalic-webfont.woff2') format('woff2'),
        url('roboto-lightitalic-webfont.woff') format('woff');
        font-weight: 200;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-regular-webfont.woff2') format('woff2'),
        url('roboto-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-italic-webfont.woff2') format('woff2'),
        url('roboto-italic-webfont.woff') format('woff');
        font-weight: 400;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-medium-webfont.woff2') format('woff2'),
        url('roboto-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-mediumitalic-webfont.woff2') format('woff2'),
        url('roboto-mediumitalic-webfont.woff') format('woff');
        font-weight: 500;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-bold-webfont.woff2') format('woff2'),
        url('roboto-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-bolditalic-webfont.woff2') format('woff2'),
        url('roboto-bolditalic-webfont.woff') format('woff');
        font-weight: 700;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-black-webfont.woff2') format('woff2'),
        url('roboto-black-webfont.woff') format('woff');
        font-weight: 800;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  url('roboto-blackitalic-webfont.woff2') format('woff2'),
        url('roboto-blackitalic-webfont.woff') format('woff');
        font-weight: 800;
        font-style: italic;
}

/* Roboto Condensed */

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-thin-webfont.woff2') format('woff2'),
        url('robotocondensed-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-thinitalic-webfont.woff2') format('woff2'),
        url('robotocondensed-thinitalic-webfont.woff') format('woff');
        font-weight: 100;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-light-webfont.woff2') format('woff2'),
        url('robotocondensed-light-webfont.woff') format('woff');
        font-weight: 200;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-lightitalic-webfont.woff2') format('woff2'),
        url('robotocondensed-lightitalic-webfont.woff') format('woff');
        font-weight: 200;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-regular-webfont.woff2') format('woff2'),
        url('robotocondensed-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-italic-webfont.woff2') format('woff2'),
        url('robotocondensed-italic-webfont.woff') format('woff');
        font-weight: 400;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-medium-webfont.woff2') format('woff2'),
        url('robotocondensed-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-mediumitalic-webfont.woff2') format('woff2'),
        url('robotocondensed-mediumitalic-webfont.woff') format('woff');
        font-weight: 500;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-bold-webfont.woff2') format('woff2'),
        url('robotocondensed-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src:  url('robotocondensed-bolditalic-webfont.woff2') format('woff2'),
        url('robotocondensed-bolditalic-webfont.woff') format('woff');
        font-weight: 700;
        font-style: italic;
}

/* Roboto Mono */

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-thin-webfont.woff2') format('woff2'),
        url('robotomono-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-thinitalic-webfont.woff2') format('woff2'),
        url('robotomono-thinitalic-webfont.woff') format('woff');
        font-weight: 100;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-light-webfont.woff2') format('woff2'),
        url('robotomono-light-webfont.woff') format('woff');
        font-weight: 200;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-lightitalic-webfont.woff2') format('woff2'),
        url('robotomono-lightitalic-webfont.woff') format('woff');
        font-weight: 200;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-regular-webfont.woff2') format('woff2'),
        url('robotomono-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-italic-webfont.woff2') format('woff2'),
        url('robotomono-italic-webfont.woff') format('woff');
        font-weight: 400;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-medium-webfont.woff2') format('woff2'),
        url('robotomono-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-mediumitalic-webfont.woff2') format('woff2'),
        url('robotomono-mediumitalic-webfont.woff') format('woff');
        font-weight: 500;
        font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-bold-webfont.woff2') format('woff2'),
        url('robotomono-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src:  url('robotomono-bolditalic-webfont.woff2') format('woff2'),
        url('robotomono-bolditalic-webfont.woff') format('woff');
        font-weight: 700;
        font-style: italic;
}

/* Roboto Slab */

@font-face {
  font-family: 'Roboto Slab';
  src:  url('robotoslab-thin-webfont.woff2') format('woff2'),
        url('robotoslab-thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:  url('robotoslab-light-webfont.woff2') format('woff2'),
        url('robotoslab-light-webfont.woff') format('woff');
        font-weight: 200;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:  url('robotoslab-regular-webfont.woff2') format('woff2'),
        url('robotoslab-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:  url('robotoslab-bold-webfont.woff2') format('woff2'),
        url('robotoslab-bold-webfont.woff') format('woff');
        font-weight: 800;
        font-style: normal;
}
