<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="flex-container">
      <main>
        <img src="/assets/img/spy-drawing-10.png">
        <iframe height="0" width="0" loop="true" style="border:none" src="/assets/audio/catch-me-if-you-can-title.mp3" allow="autoplay">
      </main>
    </div>
  </body>
</html>
